
<div class="container"> 
  <div class="left">
     <img src="images/doctor.png" alt="Doctor_Image"/>
  </div>
  
  <div class="right">
    <h1 class="center">Registration Page Doctor</h1>
      <form [formGroup]="userForm">
    <div class="margin">
        <input type="text" class="form-control" formControlName="doctorId" placeholder="DoctorId">
        <div class="text-danger" *ngIf="userForm.controls['doctorId'].invalid && (userForm.controls['doctorId'].touched || userForm.controls['doctorId'].dirty)">
            <span *ngIf="userForm.controls['doctorId'].errors?.['required']">
              <small>This is Required</small></span>
        </div>
      </div>
      <div class="margin">
        <input type="text" class="form-control" formControlName="userName" placeholder="Doctor Name">
        <div class="text-danger" *ngIf="userForm.controls['userName'].invalid && (userForm.controls['userName'].touched || userForm.controls['userName'].dirty)">
            <span *ngIf="userForm.controls['userName'].errors?.['required']">
              <small>This is Required</small></span>
        </div>
      </div>
 
     <div class="margin">
        <input type="text" class="form-control" formControlName="email" placeholder="Email">
       <div class="text-danger" *ngIf="userForm.controls['email'].invalid  && (userForm.controls['email'].touched || userForm.controls['email'].dirty)">
            <span *ngIf="userForm.controls['email'].errors?.['required']"> This is Required </span>
            <span *ngIf="userForm.controls['email'].errors?.['email']"> Email Is Not Proper </span>
        </div>
    </div>
      <div class="margin">
        <input type="tel" class="form-control" formControlName="phonenumber" placeholder="PhoneNumber">
       <div class="text-danger" *ngIf="userForm.controls['phonenumber'].invalid  && (userForm.controls['phonenumber'].touched || userForm.controls['phonenumber'].dirty)">
            <span *ngIf="userForm.controls['phonenumber'].errors?.['required']"> This is Required </span>
            <span *ngIf="userForm.controls['phonenumber'].errors?.['pattern']"> It should have 10 digits </span>
        </div>
    </div> 
     <div class="margin">
        <input type="password" class="form-control" formControlName="password" placeholder="Password">
       <div class="text-danger" *ngIf="userForm.controls['password'].invalid  && (userForm.controls['password'].touched || userForm.controls['password'].dirty)">
            <span *ngIf="userForm.controls['password'].errors?.['required']"> This IS Required </span>
            <span *ngIf="userForm.controls['password'].errors?.['pattern']"> password should have 10 charactor(atleast have one small,capital,special charactor)</span>
        </div>
    </div>
     <div class="margin">
        <input type="password" class="form-control" formControlName="confirmpassword" placeholder="Confirm Password">
       <div class="text-danger" *ngIf="userForm.errors?.['passwordMismatch'] && (userForm.controls['confirmpassword'].touched || userForm.controls['confirmpassword'].dirty)">
             password do not match       
       </div>
    </div>
    
    <div class="col-12">
        <button type="button" (click)="onSubmit()">Register</button>
        <button type="button" (click)="onReset()">Reset</button>
    </div>
    <div>
      <p>Already have an account?
        <a routerLink="/login">Login</a>
      </p>
    </div>
</form>
  </div>
</div>
