<div class="doctor-consultations-shell">
  <h1 style="text-align: center;">Consultations Made</h1>
  
<!-- <ng-container *ngIf="consultations$ | async as consultations">
<app-doctor-consultation-list [consultations]="consultations"></app-doctor-consultation-list>
</ng-container> -->

<!-- <div *ngIf="isLoading">Loading consultations...</div>
<div *ngIf="!isLoading && consultations.length === 0">No consultations found.</div>
<app-doctor-consultation-list
  *ngIf="!isLoading && consultations.length > 0"
  [consultations]="consultations">
</app-doctor-consultation-list> -->


<div *ngIf="isLoading">Loading consultations...</div>
<div *ngIf="!isLoading && consultations.length === 0">No consultations found.</div>
<app-doctor-consultation-list
  *ngIf="!isLoading && consultations.length > 0"
  [consultations]="consultations">
</app-doctor-consultation-list>

</div>



