<div class="form-container">
 <h2>Consultation Form</h2>
 
 <form [formGroup]="consultationForm" (ngSubmit)="submitForm()">
    
 <!-- Date -->
 <label for="date">Date:</label>
 <input id="date" type="date" formControlName="date" />
 <div
 *ngIf="
 consultationForm.controls['date'].invalid &&
 (consultationForm.controls['date'].touched ||
 consultationForm.controls['date'].dirty)
 "
 >
 <small *ngIf="consultationForm.controls['date'].errors?.['required']">
 * This field is required
 </small>
 </div>

  <!-- Appointment ID -->
 <label for="appointmentId">Appointment ID:</label>
 <input id="appointmentId" type="appointmentId" formControlName="appointmentId" />
 <div
 *ngIf="
 consultationForm.controls['appointmentId'].invalid &&
 (consultationForm.controls['appointmentId'].touched ||
 consultationForm.controls['appointmentId'].dirty)
 "
 >
 <small *ngIf="consultationForm.controls['appointmentId'].errors?.['required']">
 * This field is required
 </small>
 </div>
 
 <!-- Patient ID -->
 <label for="patientId">Patient ID:</label>
 <input id="patientId" type="text" formControlName="patientId" />
 <div
 *ngIf="
 consultationForm.controls['patientId'].invalid &&
 (consultationForm.controls['patientId'].touched ||
 consultationForm.controls['patientId'].dirty)
 "
 >
 <small *ngIf="consultationForm.controls['patientId'].errors?.['required']">
 * This field is required
 </small>
 </div>
 
 <!-- Patient Name -->
 <label for="patientName">Patient Name:</label>
 <input id="patientName" type="text" formControlName="patientName" />
 <div
 *ngIf="
 consultationForm.controls['patientName'].invalid &&
 (consultationForm.controls['patientName'].touched ||
 consultationForm.controls['patientName'].dirty)
 "
 >
 <small
 *ngIf="consultationForm.controls['patientName'].errors?.['required']"
 >
 * This field is required
 </small>
 </div>
 
 <!-- Doctor ID -->
 <label for="doctorId">Doctor ID:</label>
 <input id="doctorId" type="text" formControlName="doctorId" />
 <div
 *ngIf="
 consultationForm.controls['doctorId'].invalid &&
 (consultationForm.controls['doctorId'].touched ||
 consultationForm.controls['doctorId'].dirty)
 "
 >
 <small *ngIf="consultationForm.controls['doctorId'].errors?.['required']">
 * This field is required
 </small>
 </div>
 
 <!-- Doctor Name -->
 <label for="doctorName">Doctor Name:</label>
 <input id="doctorName" type="text" formControlName="doctorName" />
 <div
 *ngIf="
 consultationForm.controls['doctorName'].invalid &&
 (consultationForm.controls['doctorName'].touched ||
 consultationForm.controls['doctorName'].dirty)
 "
 >
 <small *ngIf="consultationForm.controls['doctorName'].errors?.['required']">
 * This field is required
 </small>
 </div>
 
 <!-- Notes -->
 <label for="notes">Notes:</label>
 <textarea id="notes" formControlName="notes" rows="4"></textarea>
 
 <h3>Prescription</h3>
 
 <div formArrayName="prescriptions">
 <div
 *ngFor="let item of prescriptions.controls; let i = index"
 [formGroupName]="i"
 class="prescription-item"
 >
 <label>Medicine Name:</label>
 <input type="text" formControlName="medicineName" />
 <label>Dose:</label>
 <input type="text" formControlName="dose" />
 <label>Frequency:</label>
 <input type="text" formControlName="frequency" />
 <label>Duration:</label>
 <input type="text" formControlName="duration" />
 
 <button type="button" (click)="removePrescriptionItem(i)">
 Remove
 </button>
 <hr />
 </div>
 </div>
 
 <button type="button" (click)="addPrescriptionItem()">
 + Add Prescription Item
 </button>
 
 
 <button type="submit" [disabled]="consultationForm.invalid">
 Submit Consultation
 </button>
 </form>
</div>


 