/* General Page Style */
body {
    background-color: #e6f7f9;  
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    color: #2e4a62; 
}
 
/* Container */
.container {
    border: none;
    padding: 30px;
    margin: 60px auto;
    height: 90vh;
    width: 70%;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
 
    display: flex;
    align-items: center;
}
 
/* Left Section */
.left {
    width: 550px;
    height: 300px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
 
.left img {
   
    width: 550px;
    height: 300px;
    border-radius: 15px;
    box-shadow: 0px 6px 15px rgba(0,0,0,0.1);
}
 
/* Right Section */
.right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 2em;
    margin: 20px;
}
 
/* Heading */
h1 {
    font-size: 38px;
    margin-bottom: 20px;
    color: #146C94; 
}
 
/* Center Text */
.center {
    text-align: left;
    font-size: 18px;
    color: #4a6d7c;
    margin-bottom: 20px;
}
 
/* Buttons */
button {
    margin: 10px 5px;
    padding: 12px 30px;
    font-size: 16px;
    font-weight: 500;
    background-color: #a3d2ca; 
    color: #2e4a62;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
}
 
button:hover {
    background-color: #5eaaa8; 
    color: white;
}
button:active {
    background-color: #4a8482; 
}
 

 
input {
    width: 100%;       
    max-width: 400px;  
    padding: 10px; 
    font-size: 17px;    
    border: 1.5px solid #a3d2ca;
    border-radius: 10px;
    outline: none;
    background-color: #f9fefe;
    margin-bottom: 5px;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.05);
}

.col-md-4 {
    margin: 5px;
}

