<div class="container"> 
  <div class="left">
     <img src="images/doctor.png" alt="Doctor_Image"/>
  </div>
  
  <div class="right">
    <h1 class="center">Registration Page</h1>
      <form class="row g-3 needs-validation" [formGroup]="userForm">
    <div class="col-md-4">
      <div class="mb-3">
        <input type="text" class="form-control" formControlName="userName" placeholder="UserName">
        <div class="text-danger mt-1" *ngIf="userForm.controls['userName'].invalid && (userForm.controls['userName'].touched || userForm.controls['userName'].dirty)">
            <span *ngIf="userForm.controls['userName'].errors?.['required']">
              <small>This is Required</small></span>
        </div>
      </div>
    </div>
    <div class="col-md-4">
        <select type="text" class="form-control" formControlName="role" id="Role" name="Role" placeholder="Enter Your Role">
          <option value="Doctor">Doctor</option>
          <option value="Patient">Patient</option>
        </select>
    </div>
 
     <div class="col-md-4">
        <input type="text" class="form-control" formControlName="email" placeholder="Email">
       <div class="text-danger" *ngIf="userForm.controls['email'].invalid  && (userForm.controls['email'].touched || userForm.controls['email'].dirty)">
            <span *ngIf="userForm.controls['email'].errors?.['required']"> This is Required </span>
            <span *ngIf="userForm.controls['email'].errors?.['email']"> Email Is Not Proper </span>
        </div>
    </div>
      <div class="col-md-4">
        <input type="number" class="form-control" formControlName="phonenumber" placeholder="PhoneNumber">
       <div class="text-danger" *ngIf="userForm.controls['phonenumber'].invalid  && (userForm.controls['phonenumber'].touched || userForm.controls['phonenumber'].dirty)">
            <span *ngIf="userForm.controls['phonenumber'].errors?.['required']"> This is Required </span>
            <span *ngIf="userForm.controls['phonenumber'].errors?.['pattern']"> It should have 10 digits </span>
        </div>
    </div> 
     <div class="col-md-4">
        <input type="password" class="form-control" formControlName="password" placeholder="Password">
       <div class="text-danger" *ngIf="userForm.controls['password'].invalid  && (userForm.controls['password'].touched || userForm.controls['password'].dirty)">
            <span *ngIf="userForm.controls['password'].errors?.['required']"> This IS Required </span>
            <span *ngIf="userForm.controls['password'].errors?.['pattern']"> password should have 10 charactor(atleast have one small,capital,special charactor)</span>
        </div>
    </div>
     <div class="col-md-4">
        <input type="password" class="form-control" formControlName="confirmpassword" placeholder="Confirm Password">
       <div class="text-danger" *ngIf="userForm.errors?.['passwordMismatch'] && (userForm.controls['confirmpassword'].touched || userForm.controls['confirmpassword'].dirty)">
             password do not match       
       </div>
    </div>
    
    <div class="col-12">
        <button class="btn btn-primary" type="button" (click)="onSubmit()">Register</button>
        <button class="btn btn-primary" type="button" (click)="onReset()">Reset</button>
    </div>
</form>
  </div>
</div>
