<div class="my-consultations-shell">
  <h1 class="center-heading">Medical History</h1>

  <!-- Search Bar -->
  <div class="search-bar">
    <input type="text" placeholder="Search by Doctor ID" [(ngModel)]="searchDoctorId" (input)="filterConsultations()">
    <input type="text" placeholder="Search by Doctor Name" [(ngModel)]="searchDoctorName" (input)="filterConsultations()">
    <input type="date" [(ngModel)]="searchDate" (change)="filterConsultations()">
  </div>

  <div *ngIf="isLoading">Loading consultations...</div>
  <div *ngIf="!isLoading && consultations.length === 0">No consultations found.</div>

  <app-consultation-list
    *ngIf="!isLoading && filteredConsultations.length > 0"
    [consultations]="filteredConsultations">
  </app-consultation-list>
</div>