.center-heading {
  text-align: center;
  width: 100%;
  margin: 0 auto 1rem auto;
}

.search-bar {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 15px;
}

.search-bar input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
}


.clear-btn {
  padding: 8px 12px;
  background: #dc3545;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.clear-btn:hover {
  background: #a71d2a;
}

.pagination-controls {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}