
<div id="banner">
  <img src="images/image.png" style="width: 75px; height: 75;"  alt="logo">
  <h1 id="HospitalName">HEALWELL HOSPITAL</h1>
  <!-- <a href="#" class="profileDropdown">
    <img src="images/profileUser.png" style="width: 50px; height: 50;"alt="Profile" (mouseenter)="toggleDropdownProfile(true)" (mouseleave)="toggleDropdownProfile(false)">
  </a>
    <div class="dropdown-menu" *ngIf="isDropdownOpenProfile">
        <a class="dropdown-item" href="#">Login/SignUp</a> <hr>
        <a class="dropdown-item" href="#">Account Details</a> <hr>
        <a class="dropdown-item" href="#">Consulting Details</a>
    </div> -->
    <div class="profileDropdown" style="position: relative;">
  <img src="images/profileUser.png" style="width: 50px; height: 50px; " alt="Profile">
  <span (mouseenter)="showPopup = true" (mouseleave)="showPopup = false"><div class="dropdown-menu-p"  >
    <a class="dropdown-item-p" >SignUp</a>
    <hr>
    <a class="dropdown-item-p" href="#">Account Details</a>
    <hr>
    <a class="dropdown-item-p" routerLink="/my-consultations">My Consultations</a>
    <hr>
    <a class="dropdown-item-p" routerLink="my-appointments">My Appointments</a>
    <hr>
    <a class="dropdown-item-p" routerLink="doctor-availablity-management">Doctor Appointments Scheduler</a>
  </div>
  <!-- Child Popup -->
  <div class="popup" *ngIf="showPopup">
    <a class="popup-item" routerLink="registration-page-doctor">Doctor</a> <hr>
    <a class="popup-item" routerLink="/registration-page">Patient</a>
  </div></span>
</div>
</div>
<div id="nav">
            
            <span class="dropdown" (mouseenter)="toggleDropdown(true)" (mouseleave)="toggleDropdown(false)">
                <!-- <button class="btn btn-primary">Hover Me</button> -->
                <h4 id="emergency" >Accident & Emergency <i class="arrow myarrow"> </i></h4>
                <div class="dropdown-menu" *ngIf="isDropdownOpen">
                    <a class="dropdown-item" href="tel:+919865675556">Chennai - 9865675556</a> <hr>
                    <a class="dropdown-item" href="tel:+917654562821">Kochi - 7654562821</a> <hr>
                    <a class="dropdown-item" href="tel:+919678670921">Coimbatore - 9678670921</a>
                </div>
            </span>
            <span>
                <a class="nav-elements" routerLink="/about-us">About us</a>
                <a class="nav-elements" routerLink="/excellence">Excellence</a>
                <a class="nav-elements" routerLink="/departments">Departments</a>
                <a class="nav-elements" routerLink="/patient-care">Patient Care</a>
                <a class="nav-elements" routerLink="/contact-us">Contact us</a>
              
            </span>
            
            <span>
                <!-- <a class="AttentionBanner" routerLink="bookAppoinment" >Book Appointment</a> -->
                <a class="AttentionBanner" routerLink="bookAppointment" >Book Appointment</a>
                
                <a class="AttentionBanner" routerLink="FindDoctors">Find Doctor</a>
            </span>
</div>
    
<div id="EmergencyBanner">

</div>
<router-outlet/>