
<div class="container"> 
  <div class="left">
     <img src="images/doctor.png" alt="Doctor_Image"/>
  </div>
  
  <div class="right">
    <h1 class="center">Registration Page Doctor</h1>
    <form [formGroup]="userForm">
      <div class="margin">
        <input type="text" class="form-control" formControlName="doctorName" placeholder="Doctor Name">
          <div class="text-danger" *ngIf="userForm.controls['doctorName'].invalid && (userForm.controls['doctorName'].touched || userForm.controls['doctorName'].dirty)">
            <span *ngIf="userForm.controls['doctorName'].errors?.['required']">
              <small>This is Required</small></span>
          </div>
      </div>
  
      <div class="margin">
          <input type="text" class="form-control" formControlName="doctorEmail" placeholder="doctorEmail">
          <div class="text-danger" *ngIf="userForm.controls['doctorEmail'].invalid  && (userForm.controls['doctorEmail'].touched || userForm.controls['doctorEmail'].dirty)">
            <span *ngIf="userForm.controls['doctorEmail'].errors?.['required']"> This is Required </span>
            <span *ngIf="userForm.controls['doctorEmail'].errors?.['doctorEmail']"> Email Is Not Proper </span>
          </div>
      </div>
      <div class="margin">
        <input type="tel" class="form-control" formControlName="doctorMobileNumber" placeholder="doctorMobileNumber">
        <div class="text-danger" *ngIf="userForm.controls['doctorMobileNumber'].invalid  && (userForm.controls['doctorMobileNumber'].touched || userForm.controls['doctorMobileNumber'].dirty)">
          <span *ngIf="userForm.controls['doctorMobileNumber'].errors?.['required']"> This is Required </span>
          <span *ngIf="userForm.controls['doctorMobileNumber'].errors?.['pattern']"> It should have 10 digits </span>
        </div>
      </div> 
      <div class="margin">
          <input type="password" class="form-control" formControlName="doctorPassword" placeholder="doctorPassword">
          <div class="text-danger" *ngIf="userForm.controls['doctorPassword'].invalid  && (userForm.controls['doctorPassword'].touched || userForm.controls['doctorPassword'].dirty)">
            <span *ngIf="userForm.controls['doctorPassword'].errors?.['required']"> This IS Required </span>
            <span *ngIf="userForm.controls['doctorPassword'].errors?.['pattern']"> password should have 10 charactor(atleast have one small,capital,special charactor)</span>
          </div>
      </div>
      <div class="margin">
          <input type="password" class="form-control" formControlName="confirmpassword" placeholder="Confirm Password">
          <div class="text-danger" *ngIf="userForm.errors?.['passwordMismatch'] && (userForm.controls['confirmpassword'].touched || userForm.controls['confirmpassword'].dirty)">
              password do not match       
          </div>
      </div>
      
      <div class="col-12">
          <button type="button" (click)="onSubmit()">Register</button>
          <button type="button" (click)="onReset()">Reset</button>
      </div>
    </form>
  </div>
</div>
